<% include partials/header.ejs %>

<%campgrounds.forEach(function(campground){%>
    <div><%=campground.name%></div>
    <img class='img-thumbnail' src='<%=campground.image%>'>
<% }); %>

<% include partials/footer.ejs %>