<% include partials/header.ejs %>


<div class='container'>
<form method='POST' action='/newcampgrounds'>
    <input type='text' placeholder='campground name' name='name'>
    <input type='text' placeholder='campground imageURL' name='image'>
    <button type='submit'>Add Campground</button>
</form>
</div>





<% include partials/footer.ejs %>